<!DOCTYPE html>
<html>
<head>
    <title>Change password</title>
</head>

<body>
<h1>Login with Django</h1>
CheckMyText says: <strong>Change password</strong><br/>

<form id="user_form" method="post" action=" "
      enctype="multipart/form-data">
    {% if messages %}
    <div class="span12">
        {% for message in messages %}
        <p>
            {{ message|safe }}
        </p>

        {% endfor %}
        {% endif %}
        {% csrf_token %}
        {{ change_password.as_p }}

        <input type="submit" name="submit" value="Change"/>
    </div>
</form>
<p><a href="{% url 'profile' %}">back</a></p>
</body>
</html>