{% extends "dashboard/index.html" %}

{% block title %}All Projects{% endblock %}

{%block content %}

<!--check of dit beter in de view kan -->
<h1> Alle projecten </h1>
    <ul>

        {% for project in all_projects %}
            <!--GEEN CHECKER-->
            {% if project.checker is None %}
                <!--TEXTER-->
                {% if user.userprofile.user_type.name == "texter" %}
                    Eigenaar: {{ project.get_owner_full_name }}<br>
                    Checker: {{ project.get_checker_full_name}}<br>
                    Bestandsnaam:{{ project.name }}<br>
                    Eind datum: {{project.end_date|date:"l d M Y"}}<br>
                    Eind tijd: {{project.end_date|date:"H:i:s"}}<br>
                    <a href="{% url 'project_detail' pk=project.id  %}">details</a>
                     <a href="{% url 'edit_project' pk=project.id  %}"> edit</a><br>
                    <form action="{% url 'delete_project' pk=project.id %}" method="post">
                        {% csrf_token %}
                      <input type="submit" value="Verwijderen" /><br>
                    </form>
                    <br>
                {% else %}
                    <!--CHECKER-->
                    Eigenaar: {{ project.get_owner_full_name }}<br>
                    Checker: {{ project.get_checker_full_name}}<br>
                    Bestandsnaam:{{ project.name }}<br>
                    Eind datum: {{project.end_date|date:"l d M Y"}}<br>
                    Eind tijd: {{project.end_date|date:"H:i:s"}}<br>
                    <a href="{% url 'project_detail' pk=project.id  %}">details</a><br>
                {% endif %}

            {% else %}
                {% if user.userprofile.user_type.name == "texter" %}
                    Eigenaar: {{ project.get_owner_full_name }}<br>
                    Checker: {{ project.get_checker_full_name}}<br>
                    Bestandsnaam:{{ project.name }}<br>
                    Eind datum: {{project.end_date|date:"l d M Y"}}<br>
                    Eind tijd: {{project.end_date|date:"H:i:s"}}<br>
                    <a href="{% url 'project_detail' pk=project.id  %}">details</a><br>

                    Kan niet verwijderd worden.<br>
                {% else %}
                    Eigenaar: {{ project.get_owner_full_name }}<br>
                    Checker: {{ project.get_checker_full_name}}<br>
                    Bestandsnaam:{{ project.name }}<br>
                    Eind datum: {{project.end_date|date:"l d M Y"}}<br>
                    Eind tijd: {{project.end_date|date:"H:i:s"}}<br>
                    <a href="{% url 'project_detail' pk=project.id  %}">details</a><br>

                {% endif %}
            {% endif %}
            <br>
        {% endfor %}
    </ul>


<p><a href="{% url 'dashboard' %}">dashboard</a></p>
<p><a href="{% url 'master:base' %}">home</a></p>
{% endblock %}


{% block javascript %}
<script></script>
{% endblock %}
