{% extends "dashboard/index.html" %}

{% block title %} {{userfile.name}} {% endblock %}

{%block content %}


<h1> Project:  {{userfile.name}}</h1>

<ul>
    Eigennaar: {{userfile.get_owner_full_name}}<br>
    Bestandsnaam: {{userfile.name}}<br>
    Thema: {{userfile.thema}}<br>
    Aantal woorden: {{userfile.word_count}}<br><br>
    Upload datum: {{userfile.upload_date}}<br>
    Accept datum: <span id="accept_date">{{userfile.accept_date|default_if_none:"None"}}</span> <br><br>

    Eind datum: {{userfile.end_date|date:"l d M Y"}}<br>
    Eind tijd: {{userfile.end_date|date:"H:i:s"}}<br><br>
    Prijs: {{userfile.price}}<br>

    {%if userfile.owner.id is request.user.id %}
        <!--<p>you're the owner</p>-->
           <p>Bestand: <a href="{{userfile.file.url}}" download>{{userfile.file}}</a></p>
        {% if userfile.improved_file %}
            <p>Improved file </p>
        {% else %}
           <p>No improved file </p>
        {% endif %}
    {% else %}
         <!--<p>you are not the owner</p>-->
            {%if userfile.checker %}
                <p>Bestand: <a href="{{userfile.file.url}}" download>{{userfile.file}}</a></p>
                    {% if userfile.improved_file %}
                        <p>Vebertering: <a href="{{userfile.improved_file.url}}" download>{{userfile.improved_file}}</a><br></p>
                    {% else %}
                       <p>Project is nog niet verbeterd </p>
                    {% endif %}
                {% else %}
                <span id="project_sample">sample:{{sample|linebreaks}}<br></span>
            {% endif  %}
    {% endif  %}

    <span id="project_file"></span>
    <span id="project_improved_file"></span>
    <p> Checker: <span id="checker_id">{{userfile.get_checker_full_name}}</span></p>

    {% if request.user.userprofile.user_type.name == "checker" %}
        {% if not userfile.checker %}
            <form onsubmit="return false">
                {% csrf_token %}
                <button id="confirm" onclick="ConfirmProject()">Bevestigen</button>
            </form>

        {% else %}
            {% if userfile.improved_file %}
                <form onsubmit="return false">
                {% csrf_token %}
                    <!--dit nog opvangen door forms inputfield-->
                    <p id="error_rating"></p>
                    <label for="rating">Ik geef de verbetering een: </label>
                    <input type="number" id="rating" min="0" max="5" step="0.5" /> op 5 <br>
                    <button id="rate" onclick="ConfirmRating()">Beoordeel</button>
                </form>
            {% endif %}
        {% endif %}
     {% endif %}

    {% if rating %}
        {% if userfile.improved_file %}
            <p id="exist_rating">Huidige beoordeling: {{rating}}/5</p>
        {% endif %}
    {% else %}
        {% if userfile.improved_file %}
            <p id="no_exist_rating"> Nog niet beoordeeld  </p>
        {% endif %}
    {% endif %}


    <br>
</ul>

<a href="#" onclick="goBack();return false;">Terug</a>
<p><a href="{% url 'dashboard' %}">dashboard</a></p>
{% endblock %}

{% block javascript %}

<script>
    remove_unwanted_tags();
    function goBack() {
        location.replace(document.referrer);
    }
    function remove_unwanted_tags() {
        if ("{{userfile.checker}}".toString() !== "None"){
            $("#project_file").remove();
            $("#project_improved_file").remove();
        }
    }
    function ConfirmProject() {
        var checker = $("#checker_id").text();
        $.ajax({
            type: "POST",
            url: "{% url 'confirm_project' pk=userfile.id %}",
            dataType: "json",
            async: true,
            data: {
                csrfmiddlewaretoken: '{{csrf_token}}'
            }
        }).done(function (json) {
            if (json.result === "no checker") {
                $("#checker_id").text(json.checker);
                var accept_date = moment(json.accept_date).format("D MMMM YYYY HH:mm:ss");
                $("#accept_date").text(accept_date);
                $("#confirm").remove();
                $("#project_file").html('<p>Bestand: <a href="{{userfile.file.url}}" download>{{userfile.file}}</a></p>');

//                Verbetering
                if(json.improved ==="None"){
                    console.log("Ik kom hier");
                    $("#project_improved_file").html("<p>Project is nog niet verbeterd</p>")
                }else{
                    $("#project_improved_file").html(' Verbetering: <a href="'+json.improved+'" download>' +
                    '{{userfile.improved_file}}</a><br>');
                }

                $("#project_sample").remove();
                }
        });
    }
//    vraag of ik dit best als Ajax doet in de view
    function ConfirmRating() {
        var rating = $("#rating").val();
        $.ajax({
            type: "POST",
            url: "{% url 'rate_project'%}",
            dataType: "json",
            async: true,
            data: {
                csrfmiddlewaretoken: '{{csrf_token}}',
                project_id: '{{userfile.id}}',
                rating: rating
            }
        }).done(function (json) {
               if (json.result === "succes") {
                if("{{rating}}".toString() ==="None"){
                     $("#no_exist_rating").text("Nieuwe beoordeling: "+json.stars +"/5");
                     $("#error_rating").fadeOut("slow");
                }
                else{
                    $("#exist_rating").text("Nieuwe beoordeling: "+json.stars +"/5");
                    $("#no_exist_rating").remove();
                     $("#error_rating").fadeOut("slow");
                }
               }
               if (json.result === "error") {
                   $("#error_rating").fadeIn("slow").text(json.message);
               }
        });
    }

</script>
{% endblock %}









